body {

	background-color: floralwhite;
    font-family: sans-serif;
    font-size: 18;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 40px;
    border-width: 60px;
	
   }

h2 { 

	font-family: sans-serif;
	font-size: 30; 
	font-style: italic;
	padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 40px;
    border-width: 60px;
}

h1  {
	
	font-family: sans-serif;
	font-size: 48; 
	font-style: flex
	padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 40px;
    border-width: 60px;	
	
} 

h3 {

	font-family: sans-serif;
	font-size: 16; 
	font-style: flex
	padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 40px;
    border-width: 60px;	
} 

head {
	
	font-family: sans-serif;
	font-size: 30;

}
