body {

	background-color: floralwhite;
    font-family: sans-serif;
    font-size: 18;
    padding-left: 50px;
    padding-right: 70px;
    padding-bottom: 70px;
    padding-top: 40px;
    border-width: 30px;
	
   }

head {
	
	font-family: sans-serif;
	font-size: 30;

}
