body {

	background-color: floralwhite;
    font-family: sans-serif;
    font-size: 24;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 40px;
    border-width: 60px;
	
   }

h2 { 

	font-family: sans-serif;
	font-size: 28; 
	font-style: italic;
	padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-top: 40px;
    border-width: 30px;
}

h1  {
	
	font-family: sans-serif;
	font-size: 48; 
	font-style: flex
	padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 40px;
    border-width: 60px;	
	
} 

h3 {

	font-family: sans-serif;
	font-size: 12; 
	font-style: flex
	padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-top: 40px;
    border-width: 60px;	
} 

head {

	font-family: sans-serif;
	font-size: 40;

}
