font-style: flex: ;


body {
    background-color: floralwhite;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center; 
    padding: 40px 20px;      
    box-sizing: border-box;
}

.article-container {
    background-color: white; 
    max-width: 800px;       
    width: 100%;
    padding: 50px;           
    border-radius: 8px;      
    box-shadow: 0 4px 20px rgba(0,0,0,0.05); 
    box-sizing: border-box;
}


h1 {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 5px;
    color: #blue;
}


h2 {
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    color: #blue;
    line-height: 1.0;
    margin-bottom: 5px;
}

h3 {
    font-size: 14px;
    color: #blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

p {
    font-size: 18px;
    line-height: 1.8;
    color: #black;
    margin-bottom: 30px;
}

iframe {
    margin: 20px 0;
    border-radius: 4px;
}
